mixin services-bar
    .services-bar.d-flex.justify-content-lg-center.justify-content-md-start.justify-content-sm-center.justify-content-center
        .services-bar__wrapper.d-flex.flex-column
            a.services-bar__link(href="#")
                .services-bar__item.d-flex.justify-content-between
                    h3.services-bar__text Online Shopping
                    .services-bar__icon-wrapper
                        svg.services-bar__icon
                            use(xlink:href = "#icon-cart")
            a.services-bar__link(href="#")
                .services-bar__item.d-flex.justify-content-between
                    h3.services-bar__text Quality Product
                    .services-bar__icon-wrapper
                        svg.services-bar__icon
                            use(xlink:href = "#icon-hand")
            a.services-bar__link(href="#")
                .services-bar__item.d-flex.justify-content-between
                    h3.services-bar__text Domestic & International Delivery
                    .services-bar__icon-wrapper
                        svg.services-bar__icon
                            use(xlink:href = "#icon-planet")
            a.services-bar__link(href="#")
                .services-bar__item.d-flex.justify-content-between
                    h3.services-bar__text Well Organized
                    .services-bar__icon-wrapper
                        svg.services-bar__icon
                            use(xlink:href = "#icon-carrot")