include ../blocks/logo/_logo.pug
include ../blocks/nav/_nav.pug
include ../blocks/home/_home.pug
include ../blocks/about/_about.pug
include ../blocks/services-bar/_services-bar.pug
include ../blocks/services/_services.pug
include ../blocks/gallery/_gallery.pug
include ../blocks/subscribe/_subscribe.pug
include ../blocks/btn/_btn.pug
include ../blocks/blog/_blog.pug
include ../blocks/blog_panel/_blog_panel.pug
include ../blocks/contact/_contact.pug
include ../blocks/contact-form/_contact-form.pug
include ../blocks/contact-info/_contact-info.pug
include ../blocks/footer/_footer.pug
include ../pug/icons.svg

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        +home
        +about
        +services
        +gallery
        +subscribe
        +blog
        +contact
        +footer
        
        





    
